* {
  margin: 0;
  padding: 0; }

.purple {
  color: #9f449b; }

header {
  background-image: url("../images/header/bgHeader.png");
  background-repeat: no-repeat;
  overflow-x: hidden;
  background-size: initial;
  background-position: top;
  padding-bottom: 6.3em;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center; }

.headerText {
  color: white;
  text-align: center; }
  .headerText p:first-child {
    margin-top: 0.7em;
    font-size: 6em; }
  .headerText p:nth-child(2) {
    margin-top: 1.7em;
    font-size: 3em; }
  .headerText p:last-child {
    margin-top: 0.7em;
    font-size: 1.4em; }

.headerButtons {
  max-width: 1200px;
  margin-top: 9em;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .headerButtons .topColumn {
    display: -webkit-flex;
    display: flex;
    position: relative; }
    .headerButtons .topColumn img.first {
      position: absolute;
      top: 20%;
      left: 17%; }
    .headerButtons .topColumn p.first {
      color: white;
      font-size: 1.3em;
      position: absolute;
      top: 65%;
      left: 15%; }
    .headerButtons .topColumn img.second {
      position: absolute;
      top: 20%;
      right: 17%; }
    .headerButtons .topColumn p.second {
      color: white;
      font-size: 1.3em;
      position: absolute;
      top: 65%;
      right: 14%; }
  .headerButtons .middleColumn {
    width: 1200px;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    margin-top: 1.5em; }
    .headerButtons .middleColumn .leftRow {
      margin-left: 2.5em;
      display: -webkit-flex;
      display: flex;
      flex-direction: row;
      position: relative; }
      .headerButtons .middleColumn .leftRow img.first {
        position: absolute;
        top: 20%;
        left: 17%; }
      .headerButtons .middleColumn .leftRow p.first {
        color: white;
        font-size: 1.3em;
        position: absolute;
        top: 65%;
        left: 3.1em; }
      .headerButtons .middleColumn .leftRow img.second {
        position: absolute;
        top: 20%;
        right: 17%; }
      .headerButtons .middleColumn .leftRow p.second {
        color: white;
        font-size: 1.3em;
        position: absolute;
        top: 65%;
        right: 3.1em; }
    .headerButtons .middleColumn .rightRow {
      display: -webkit-flex;
      display: flex;
      position: relative;
      margin-right: 2.5em; }
      .headerButtons .middleColumn .rightRow img.first {
        position: absolute;
        top: 20%;
        left: 17%; }
      .headerButtons .middleColumn .rightRow p.first {
        color: white;
        font-size: 1.3em;
        position: absolute;
        top: 65%;
        left: 3.1em; }
      .headerButtons .middleColumn .rightRow img.second {
        position: absolute;
        top: 20%;
        right: 17%; }
      .headerButtons .middleColumn .rightRow p.second {
        color: white;
        font-size: 1.3em;
        position: absolute;
        top: 65%;
        right: 2.7em; }
  .headerButtons .botColumn {
    max-width: 1200px;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: -1em; }
    .headerButtons .botColumn img:last-child {
      position: absolute;
      top: 2.8em;
      left: 2em; }

.mainShape {
  content: url("../images/header/Shape%202.svg"); }

.headerButtons a:nth-child(n+1):hover .mainShape {
  content: url("../images/header/Shape%202purple.svg"); }

.smallShape {
  content: url("../images/header/Shape%202%20copy.svg"); }

.headerButtons a:first-child:hover .smallShape {
  content: url("../images/header/Shape%202%20copy%20purple.svg"); }

nav {
  width: 1200px;
  margin: auto;
  padding: 2.3em 0 2em 0; }
  nav p {
    display: inline-block;
    font-size: 2em; }

.navi {
  padding-top: 1em;
  float: right; }
  .navi ul li {
    display: inline-block;
    padding-left: 2.2em; }

.feature {
  background-color: #eeeeee;
  padding: 10em 0 10em 0; }
  .feature .container {
    width: 1200px;
    margin: auto;
    display: -webkit-flex;
    display: flex;
    text-align: center; }
    .feature .container .col-1 {
      position: relative;
      flex: 1;
      padding-right: 2.5em; }
      .feature .container .col-1 img:last-child {
        position: absolute;
        top: 4.2em;
        left: 6.3em; }
      .feature .container .col-1 p:first-of-type {
        font-size: 2em;
        padding-top: 1em; }
      .feature .container .col-1 p:last-of-type {
        font-size: 1em;
        padding-top: 1em; }
    .feature .container .col-2 {
      flex: 1;
      position: relative;
      padding-right: 2.5em; }
      .feature .container .col-2 img:last-child {
        position: absolute;
        top: 4.2em;
        left: 5.9em; }
      .feature .container .col-2 p:first-of-type {
        font-size: 2em;
        padding-top: 1em; }
      .feature .container .col-2 p:last-of-type {
        font-size: 1em;
        padding-top: 1em; }
    .feature .container .col-3 {
      flex: 1;
      position: relative;
      padding-right: 2.5em; }
      .feature .container .col-3 img:last-child {
        position: absolute;
        top: 4.2em;
        left: 6.9em; }
      .feature .container .col-3 p:first-of-type {
        font-size: 2em;
        padding-top: 1em; }
      .feature .container .col-3 p:last-of-type {
        font-size: 1em;
        padding-top: 1em; }
    .feature .container .col-4 {
      flex: 1;
      position: relative; }
      .feature .container .col-4 img:last-child {
        position: absolute;
        top: 4.2em;
        left: 7.2em; }
      .feature .container .col-4 p:first-of-type {
        font-size: 2em;
        padding-top: 1em; }
      .feature .container .col-4 p:last-of-type {
        font-size: 1em;
        padding-top: 1em; }

.shapeFeature {
  content: url("../images/feature/Shape%202%20copy%203.svg"); }

.feature figure:nth-child(n+1):hover .shapeFeature {
  content: url("../images/feature/Shape%202%20copy%203purple.svg"); }

.featureIcon-1 {
  content: url("../images/feature/heart.svg"); }

.feature figure:nth-child(n+1):hover .featureIcon-1 {
  content: url("../images/feature/heart%20purple.svg"); }

.featureIcon-2 {
  content: url("../images/feature/diamond.svg"); }

.feature figure:nth-child(n+1):hover .featureIcon-2 {
  content: url("../images/feature/diamond%20purple.svg"); }

.featureIcon-3 {
  content: url("../images/feature/cup.svg"); }

.feature figure:nth-child(n+1):hover .featureIcon-3 {
  content: url("../images/feature/cup%20purple.svg"); }

.featureIcon-4 {
  content: url("../images/feature/phone.svg"); }

.feature figure:nth-child(n+1):hover .featureIcon-4 {
  content: url("../images/feature/phone%20purple.svg"); }

.about {
  width: 1200px;
  margin: auto;
  padding-bottom: 13em;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column; }
  .about .name p {
    padding-top: 3em;
    font-size: 3em;
    display: inline-block; }
  .about .container {
    padding-top: 10em;
    display: -webkit-flex;
    display: flex;
    flex-direction: row; }
    .about .container .col-1 {
      flex: 3; }
    .about .container .col-2 {
      flex: 2;
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      text-align: left; }
      .about .container .col-2 p {
        padding-top: 1em;
        flex: 5;
        font-size: 1.1em;
        line-height: 2em; }
      .about .container .col-2 a {
        flex: 1;
        text-align: center;
        display: inline-block;
        text-decoration: none;
        color: white;
        font-size: 1.2em;
        background-color: #9f449b;
        border-radius: 0.3em;
        padding-top: 1.5em;
        width: 13em;
        box-shadow: 0 0.2em 0 #6b2e68; }

.bgRow {
  display: -webkit-flex;
  display: flex;
  background-image: url("../images/quote/base.png");
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  flex-direction: column; }
  .bgRow img {
    padding-top: 5em;
    flex: 1;
    height: 8%;
    width: 8%; }
  .bgRow p {
    flex: 1;
    text-align: center;
    color: white;
    font-size: 3em;
    padding-top: 2em; }

/*# sourceMappingURL=style.css.map */
