*{
  margin: 0;
  padding: 0;
}
.purple{
  color: rgb(159, 68, 155);
}
header{
  background-image: url("../images/header/bgHeader.png");
  background-repeat: no-repeat;
  overflow-x: hidden;
  background-size: initial;
  background-position: top;
  padding-bottom: 6.3em;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.headerText{
  color: white;
  text-align: center;
  p:first-child{
    margin-top: 0.7em;
    font-size: 6em;
  }
  p:nth-child(2){
    margin-top: 1.7em;
    font-size: 3em;
  }
  p:last-child{
    margin-top: 0.7em;
    font-size: 1.4em;
  }
}
.headerButtons{
  max-width: 1200px;
  margin-top: 9em;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  .topColumn{
    display: -webkit-flex;
    display: flex;
    position: relative;
    img.first{
      position: absolute;
      top: 20%;
      left: 17%;
    }
    p.first{
      color: white;
      font-size: 1.3em;
      position: absolute;
      top: 65%;
      left: 15%;
    }
    img.second{
      position: absolute;
      top: 20%;
      right: 17%;
    }
    p.second{
       color: white;
       font-size: 1.3em;
       position: absolute;
       top: 65%;
       right: 14%;
    }
  }
  .middleColumn{
    width: 1200px;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    margin-top: 1.5em;
    .leftRow{
      margin-left: 2.5em;
      display: -webkit-flex;
      display: flex;
      flex-direction: row;
      position: relative;
      img.first{
        position: absolute;
        top: 20%;
        left: 17%;
      }
      p.first{
        color: white;
        font-size: 1.3em;
        position: absolute;
        top: 65%;
        left: 3.1em;
      }
      img.second{
        position: absolute;
        top: 20%;
        right: 17%;
      }
      p.second{
        color: white;
        font-size: 1.3em;
        position: absolute;
        top: 65%;
        right: 3.1em;
      }
    }
    .rightRow{
      display: -webkit-flex;
      display: flex;
      position: relative;
      margin-right: 2.5em;
      img.first{
        position: absolute;
        top: 20%;
        left: 17%;
      }
      p.first{
        color: white;
        font-size: 1.3em;
        position: absolute;
        top: 65%;
        left: 3.1em;
      }
      img.second{
        position: absolute;
        top: 20%;
        right: 17%;
      }
      p.second{
        color: white;
        font-size: 1.3em;
        position: absolute;
        top: 65%;
        right: 2.7em;
      }
    }
  }
  .botColumn{
    max-width: 1200px;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: -1em;
    img:last-child{
      position: absolute;
      top: 2.8em;
      left: 2em;
    }
  }
}
.mainShape{
  content: url("../images/header/Shape%202.svg");
}
.headerButtons a:nth-child(n+1):hover .mainShape{
    content: url("../images/header/Shape%202purple.svg");
}
.smallShape{
  content: url("../images/header/Shape%202%20copy.svg");
}
.headerButtons a:first-child:hover .smallShape{
  content: url("../images/header/Shape%202%20copy%20purple.svg");
}
nav{
  width: 1200px;

}