* {
  margin: 0;
  padding: 0; }

.purple {
  color: #9f449b; }

header {
  background-image: url("../images/header/bgHeader.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
  background-size: initial;
  background-position: top;
  padding-bottom: 6.3em;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center; }

.headerText {
  color: white;
  text-align: center; }
  .headerText p:first-child {
    margin-top: 0.7em;
    font-size: 6em; }
  .headerText p:nth-child(2) {
    margin-top: 1.7em;
    font-size: 3em; }
  .headerText p:last-child {
    margin-top: 0.7em;
    font-size: 1.4em; }

.headerButtons {
  max-width: 1200px;
  margin-top: 9em;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .headerButtons .topColumn {
    display: -webkit-flex;
    display: flex;
    position: relative; }
    .headerButtons .topColumn img.first {
      position: absolute;
      top: 20%;
      left: 17%; }
    .headerButtons .topColumn p.first {
      color: white;
      font-size: 1.3em;
      position: absolute;
      top: 65%;
      left: 15%; }
    .headerButtons .topColumn img.second {
      position: absolute;
      top: 20%;
      right: 17%; }
    .headerButtons .topColumn p.second {
      color: white;
      font-size: 1.3em;
      position: absolute;
      top: 65%;
      right: 14%; }
  .headerButtons .middleColumn {
    width: 1200px;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    margin-top: 1.5em; }
    .headerButtons .middleColumn .leftRow {
      margin-left: 2.5em;
      display: -webkit-flex;
      display: flex;
      flex-direction: row;
      position: relative; }
      .headerButtons .middleColumn .leftRow img.first {
        position: absolute;
        top: 20%;
        left: 17%; }
      .headerButtons .middleColumn .leftRow p.first {
        color: white;
        font-size: 1.3em;
        position: absolute;
        top: 65%;
        left: 3.1em; }
      .headerButtons .middleColumn .leftRow img.second {
        position: absolute;
        top: 20%;
        right: 17%; }
      .headerButtons .middleColumn .leftRow p.second {
        color: white;
        font-size: 1.3em;
        position: absolute;
        top: 65%;
        right: 3.1em; }
    .headerButtons .middleColumn .rightRow {
      display: -webkit-flex;
      display: flex;
      position: relative;
      margin-right: 2.5em; }
      .headerButtons .middleColumn .rightRow img.first {
        position: absolute;
        top: 20%;
        left: 17%; }
      .headerButtons .middleColumn .rightRow p.first {
        color: white;
        font-size: 1.3em;
        position: absolute;
        top: 65%;
        left: 3.1em; }
      .headerButtons .middleColumn .rightRow img.second {
        position: absolute;
        top: 20%;
        right: 17%; }
      .headerButtons .middleColumn .rightRow p.second {
        color: white;
        font-size: 1.3em;
        position: absolute;
        top: 65%;
        right: 2.7em; }
  .headerButtons .botColumn {
    max-width: 1200px;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: -1em; }
    .headerButtons .botColumn img:last-child {
      position: absolute;
      top: 2.8em;
      left: 2em; }

.mainShape {
  content: url("../images/header/Shape%202.svg"); }

.headerButtons a:nth-child(n+1):hover .mainShape {
  content: url("../images/header/Shape%202purple.svg"); }

.smallShape {
  content: url("../images/header/Shape%202%20copy.svg"); }

.headerButtons a:first-child:hover .smallShape {
  content: url("../images/header/Shape%202%20copy%20purple.svg"); }

nav {
  width: 1200px;
  margin: auto;
  padding: 2.3em 0 2em 0;
  background: white; }
  nav p {
    display: inline-block;
    font-size: 2em; }
  nav a {
    color: black;
    text-decoration: none; }

.navi {
  padding-top: 1em;
  float: right; }
  .navi ul li {
    display: inline-block;
    padding-left: 2.2em; }

.feature {
  background-color: #eeeeee;
  padding: 10em 0 10em 0; }
  .feature .container {
    width: 1200px;
    margin: auto;
    display: -webkit-flex;
    display: flex;
    text-align: center; }
    .feature .container .col-1 {
      position: relative;
      flex: 1;
      padding-right: 2.5em; }
      .feature .container .col-1 img:last-child {
        position: absolute;
        top: 4.2em;
        left: 6.3em; }
      .feature .container .col-1 p:first-of-type {
        font-size: 2em;
        padding-top: 1em; }
      .feature .container .col-1 p:last-of-type {
        font-size: 1em;
        padding-top: 1em; }
    .feature .container .col-2 {
      flex: 1;
      position: relative;
      padding-right: 2.5em; }
      .feature .container .col-2 img:last-child {
        position: absolute;
        top: 4.2em;
        left: 5.9em; }
      .feature .container .col-2 p:first-of-type {
        font-size: 2em;
        padding-top: 1em; }
      .feature .container .col-2 p:last-of-type {
        font-size: 1em;
        padding-top: 1em; }
    .feature .container .col-3 {
      flex: 1;
      position: relative;
      padding-right: 2.5em; }
      .feature .container .col-3 img:last-child {
        position: absolute;
        top: 4.2em;
        left: 6.9em; }
      .feature .container .col-3 p:first-of-type {
        font-size: 2em;
        padding-top: 1em; }
      .feature .container .col-3 p:last-of-type {
        font-size: 1em;
        padding-top: 1em; }
    .feature .container .col-4 {
      flex: 1;
      position: relative; }
      .feature .container .col-4 img:last-child {
        position: absolute;
        top: 4.2em;
        left: 7.2em; }
      .feature .container .col-4 p:first-of-type {
        font-size: 2em;
        padding-top: 1em; }
      .feature .container .col-4 p:last-of-type {
        font-size: 1em;
        padding-top: 1em; }

.shapeFeature {
  content: url("../images/feature/Shape%202%20copy%203.svg"); }

.feature figure:nth-child(n+1):hover .shapeFeature {
  content: url("../images/feature/Shape%202%20copy%203purple.svg"); }

.featureIcon-1 {
  content: url("../images/feature/heart.svg"); }

.feature figure:nth-child(n+1):hover .featureIcon-1 {
  content: url("../images/feature/heart%20purple.svg"); }

.featureIcon-2 {
  content: url("../images/feature/diamond.svg"); }

.feature figure:nth-child(n+1):hover .featureIcon-2 {
  content: url("../images/feature/diamond%20purple.svg"); }

.featureIcon-3 {
  content: url("../images/feature/cup.svg"); }

.feature figure:nth-child(n+1):hover .featureIcon-3 {
  content: url("../images/feature/cup%20purple.svg"); }

.featureIcon-4 {
  content: url("../images/feature/phone.svg"); }

.feature figure:nth-child(n+1):hover .featureIcon-4 {
  content: url("../images/feature/phone%20purple.svg"); }

.about {
  width: 1200px;
  margin: auto;
  padding-bottom: 13em;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column; }
  .about .name p {
    padding-top: 3em;
    font-size: 3em;
    display: inline-block; }
  .about .container {
    padding-top: 10em;
    display: -webkit-flex;
    display: flex;
    flex-direction: row; }
    .about .container .col-1 {
      flex: 3; }
    .about .container .col-2 {
      flex: 2;
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      text-align: left; }
      .about .container .col-2 p {
        padding-top: 1em;
        flex: 5;
        font-size: 1.1em;
        line-height: 2em; }
      .about .container .col-2 a {
        flex: 1;
        text-align: center;
        display: inline-block;
        text-decoration: none;
        color: white;
        font-size: 1.2em;
        background-color: #9f449b;
        border-radius: 0.3em;
        padding-top: 1.5em;
        width: 13em;
        box-shadow: 0 0.2em 0 #6b2e68; }

.bgRow {
  background-image: url("../images/quote/base.png");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 20em; }
  .bgRow img {
    padding-top: 14em;
    height: 8%;
    width: 8%;
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .bgRow p {
    text-align: center;
    color: white;
    font-size: 3em;
    padding-top: 1em; }

.ourTeam {
  width: 1200px;
  margin: auto;
  padding-bottom: 2em;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column; }
  .ourTeam .name p {
    padding-top: 3em;
    font-size: 3em;
    display: inline-block; }
  .ourTeam .listArrows {
    position: relative;
    padding-top: 10em; }
    .ourTeam .listArrows img:nth-child(1) {
      padding-right: 1em; }
    .ourTeam .listArrows img:nth-child(2) {
      position: absolute;
      top: 11.5em;
      left: 45.5%; }
    .ourTeam .listArrows img:nth-child(4) {
      position: absolute;
      top: 11.5em;
      right: 45.5%; }
  .ourTeam ul li {
    display: inline-block;
    padding-left: 4.8em;
    padding-right: 5em; }
    .ourTeam ul li p.name {
      font-size: 1.5em;
      font-weight: bold;
      padding-top: 3em;
      padding-bottom: 1em; }
  .ourTeam .circle {
    background-color: #bdbdbd;
    height: 15em;
    width: 15em;
    border-radius: 15em; }
  .ourTeam .smallCircle {
    height: 2em;
    width: 2em;
    border-radius: 5em;
    border: 1px solid #bdbdbd;
    display: inline-block;
    margin-top: 2em;
    line-height: 2em;
    margin-right: 1em; }
    .ourTeam .smallCircle a {
      text-decoration: none;
      color: black; }

.skills {
  width: 1200px;
  margin: auto;
  padding-bottom: 13em;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column; }
  .skills .name p {
    padding-top: 3em;
    font-size: 3em;
    display: inline-block; }
  .skills .container {
    padding-top: 10em;
    display: -webkit-flex;
    display: flex;
    flex-direction: row; }
    .skills .container ul li:first-of-type, .skills .container ul li:last-of-type {
      display: none; }
  .skills .col {
    flex: 1; }
    .skills .col p:first-child {
      display: inline-block;
      float: left;
      font-weight: bold; }
    .skills .col p:last-child {
      display: inline-block;
      text-align: right; }
  .skills .container {
    padding-left: 5em;
    padding-right: 5em; }
    .skills .container .col:first-child {
      margin-right: 2em; }
    .skills .container .col:last-child {
      margin-left: 2em; }
  .skills .bars {
    display: block;
    padding-top: 2em; }
  .skills .bar-11 {
    display: inline-block;
    width: 90%;
    height: 1em;
    background-color: #9f449b;
    margin: 0;
    padding: 0; }
  .skills .bar-12 {
    display: inline-block;
    height: 1em;
    width: 10%;
    background-color: #e2e2e2;
    margin: 0;
    padding: 0; }
  .skills .bar-21 {
    display: inline-block;
    width: 70%;
    height: 1em;
    background-color: #9f449b;
    margin: 0;
    padding: 0; }
  .skills .bar-22 {
    display: inline-block;
    height: 1em;
    width: 30%;
    background-color: #e2e2e2;
    margin: 0;
    padding: 0; }
  .skills .bar-31 {
    display: inline-block;
    width: 75%;
    height: 1em;
    background-color: #9f449b;
    margin: 0;
    padding: 0; }
  .skills .bar-32 {
    display: inline-block;
    height: 1em;
    width: 25%;
    background-color: #e2e2e2;
    margin: 0;
    padding: 0; }
  .skills .bar-41 {
    display: inline-block;
    width: 85%;
    height: 1em;
    background-color: #9f449b;
    margin: 0;
    padding: 0; }
  .skills .bar-42 {
    display: inline-block;
    height: 1em;
    width: 15%;
    background-color: #e2e2e2;
    margin: 0;
    padding: 0; }

.service {
  background-image: url("../images/quote/base.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 11em; }
  .service img {
    padding-top: 14em;
    height: 8%;
    width: 8%;
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .service p {
    text-align: center;
    color: white;
    font-size: 3em;
    padding-top: 1em; }

.testimonials {
  background-color: #eeeeee;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  padding-top: 5em;
  padding-bottom: 5em; }
  .testimonials .percentages {
    display: -webkit-flex;
    display: flex;
    justify-content: space-around; }
    .testimonials .percentages .perc-1, .testimonials .percentages .perc-2, .testimonials .percentages .perc-3, .testimonials .percentages .perc-4 {
      flex: 1;
      text-align: center; }
      .testimonials .percentages .perc-1 p:first-child, .testimonials .percentages .perc-2 p:first-child, .testimonials .percentages .perc-3 p:first-child, .testimonials .percentages .perc-4 p:first-child {
        font-size: 4em; }
      .testimonials .percentages .perc-1 p:last-child, .testimonials .percentages .perc-2 p:last-child, .testimonials .percentages .perc-3 p:last-child, .testimonials .percentages .perc-4 p:last-child {
        color: gray; }
  .testimonials .images {
    text-align: center;
    padding-top: 7em; }
    .testimonials .images .circle {
      background-color: #bdbdbd;
      height: 8em;
      width: 8em;
      border-radius: 8em;
      margin-left: auto;
      margin-right: auto; }
    .testimonials .images p {
      padding-top: 1em;
      color: gray; }
    .testimonials .images ul li p:first-of-type {
      font-size: 3em; }
    .testimonials .images ul li p:last-of-type {
      font-weight: bold;
      padding-top: 2em; }
  .testimonials .slider {
    text-align: center;
    padding-top: 5em; }
    .testimonials .slider ul li {
      display: inline-block; }
    .testimonials .slider .circle {
      height: 0.5em;
      width: 0.5em;
      border-radius: 0.5em;
      margin-left: auto;
      margin-right: auto;
      border: 1px solid gray; }

.portfolio {
  width: 1200px;
  margin: auto;
  padding-bottom: 3em;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column; }
  .portfolio .name p {
    padding-top: 3em;
    font-size: 3em;
    display: inline-block; }
  .portfolio .row {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between; }
    .portfolio .row figure {
      display: inline-block;
      position: relative; }
      .portfolio .row figure P:first-of-type {
        padding-top: 0.5em;
        font-size: 2em; }
      .portfolio .row figure p:last-of-type {
        color: gray;
        padding-top: 0.3em;
        padding-bottom: 2em; }
      .portfolio .row figure img:nth-child(2) {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0; }
      .portfolio .row figure img:nth-child(3) {
        position: absolute;
        top: 6.5em;
        left: 6.5em;
        opacity: 0; }
      .portfolio .row figure:hover img:nth-child(2) {
        opacity: 1; }
      .portfolio .row figure:hover img:nth-child(3) {
        opacity: 1; }

.select {
  padding-top: 3em;
  padding-bottom: 3em; }
  .select ul li {
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em; }
    .select ul li a {
      text-decoration: none;
      color: black;
      border: 1px solid black;
      padding: 0.2em 0.5em;
      border-radius: 0.2em; }
    .select ul li a:hover {
      color: white;
      background-color: #9f449b;
      border-color: #9f449b; }

.more a {
  flex: 1;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  background-color: #9f449b;
  border-radius: 0.3em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  width: 13em;
  box-shadow: 0 0.2em 0 #6b2e68; }

.contact {
  width: 1200px;
  margin: auto;
  padding-bottom: 13em;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column; }
  .contact .name p {
    padding-top: 3em;
    font-size: 3em;
    display: inline-block; }
  .contact .container {
    padding-top: 10em;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between; }
    .contact .container .data {
      flex: 1; }
      .contact .container .data a {
        text-align: center;
        display: inline-block;
        float: left;
        text-decoration: none;
        color: white;
        font-size: 1.2em;
        background-color: #9f449b;
        border-radius: 0.3em;
        padding-top: 1.5em;
        padding-bottom: 1.5em;
        width: 13em;
        box-shadow: 0 0.2em 0 #6b2e68; }
    .contact .container input, .contact .container textarea {
      display: block;
      border: 1px solid  black;
      margin-bottom: 1.5em;
      height: 3em;
      width: 90%;
      font-size: 2em;
      padding-left: 1em; }
    .contact .container textarea {
      height: 10em;
      padding-top: 0.5em; }
    .contact .container .info {
      text-align: left;
      padding-left: 4em;
      flex: 1; }
      .contact .container .info p {
        padding-bottom: 1.5em;
        line-height: 1.3em; }
      .contact .container .info p:first-of-type {
        font-size: 1.5em; }
      .contact .container .info p:nth-child(n + 2) {
        font-weight: bold;
        font-size: 2em; }
      .contact .container .info .smallCircle {
        height: 2em;
        width: 2em;
        border-radius: 5em;
        border: 1px solid #bdbdbd;
        display: inline-block;
        line-height: 2em;
        margin-right: 1em;
        font-size: 3em;
        text-align: center; }
        .contact .container .info .smallCircle a {
          text-decoration: none;
          color: black; }

footer {
  text-align: center;
  font-size: 3em;
  padding-bottom: 3em; }

.sticky {
  position: fixed;
  z-index: 99;
  width: 1200px;
  padding-left: 5em;
  padding-right: 50em;
  top: 0; }

.active {
  color: #9f449b; }

/*# sourceMappingURL=style.css.map */
